{"swagger":"2.0","info":{"description":"The XNAT REST API (XAPI) functions provide access to XNAT internal functions for remote clients.","version":"1.9.2-RC-SNAPSHOT-484-1bce1abd60 (build 272 on Tue Jun 10 19:08:37 UTC 2025)","title":"XNAT REST API","termsOfService":"http://www.xnat.org/download","contact":{"name":"XNAT","url":"http://www.xnat.org","email":"info@xnat.org"},"license":{"name":"Simplified 2-Clause BSD","url":"https://opensource.org/licenses/BSD-2-Clause"}},"host":"demo02.xnatworks.io","basePath":"/xapi","tags":[{"name":"anonymize-api","description":"Anonymize Api"},{"name":"archive-processor-instance-api","description":"Archive Processor Instance Api"},{"name":"async-operations-api","description":"Asynchronous Operations Preferences API"},{"name":"automation-api","description":"Automation Service API"},{"name":"caching-api","description":"Caching Api"},{"name":"catalog-api","description":"Catalog Api"},{"name":"command-configuration-rest-api","description":"Command Configuration Rest Api"},{"name":"command-event-mapping-rest-api","description":"Command Event Mapping Rest Api"},{"name":"command-rest-api","description":"Command Rest Api"},{"name":"command-visibility-rest-api","description":"Command Visibility Rest Api"},{"name":"compute-environment-configs-api","description":"Compute Environment Configs Api"},{"name":"constraint-configs-api","description":"Constraint Configs Api"},{"name":"container-rest-api","description":"Container Rest Api"},{"name":"custom-fields-api","description":"Custom Fields Api"},{"name":"custom-form-display-field-api","description":"Custom Form Display Field Api"},{"name":"custom-forms-api","description":"Custom Forms Api"},{"name":"data-access-api","description":"Data Access Api"},{"name":"dicom-mapping-api","description":"Dicom Mapping Api"},{"name":"dicom-query-retrieve-api","description":"Dicom Query Retrieve Api"},{"name":"dicom-scp-api","description":"Dicom SCP Api"},{"name":"dicom-transaction-api","description":"XNAT DICOM transaction management API"},{"name":"direct-archive-session-api","description":"Direct Archive Session Api"},{"name":"docker-rest-api","description":"Docker Rest Api"},{"name":"download-config-rest-api","description":"Download Config Rest Api"},{"name":"dqr-pacs-api","description":"Dqr Pacs Api"},{"name":"event-handler-api","description":"Event Handler Api"},{"name":"event-service-rest-api","description":"Event Service Rest Api"},{"name":"event-tracking-data-api","description":"Event Tracking Data Api"},{"name":"forgot-login-rest-api","description":"Forgot Login Rest Api"},{"name":"hardware-configs-api","description":"Hardware Configs Api"},{"name":"investigators-api","description":"Investigators Api"},{"name":"jupyter-hub-api","description":"Jupyter Hub Api"},{"name":"jupyter-hub-dashboard-configs-api","description":"Jupyter Hub Dashboard Configs Api"},{"name":"jupyter-hub-dashboard-frameworks-api","description":"Jupyter Hub Dashboard Frameworks Api"},{"name":"jupyter-hub-preferences-api","description":"Jupyter Hub Preferences Api"},{"name":"launch-rest-api","description":"Launch Rest Api"},{"name":"legacy-custom-variable-api","description":"Legacy Custom Variable Api"},{"name":"logging-api","description":"Logging Api"},{"name":"multifactor-authentication-api","description":"Multifactor Authentication Api"},{"name":"notifications-api","description":"XNAT Notifications management API"},{"name":"ohif-aiaa-api","description":"OHIF Viewer AIAA API"},{"name":"ohif-dicomweb-api","description":"OHIF Viewer DICOMweb API"},{"name":"ohif-roi-api","description":"OHIF Viewer ROI API"},{"name":"ohif-roi-color-api","description":"OHIF Viewer ROI Color API"},{"name":"ohif-viewer-api","description":"OHIF Viewer Metadata API"},{"name":"ohif-viewer-config-api","description":"OHIF Viewer Config API"},{"name":"orchestration-rest-api","description":"Orchestration Rest Api"},{"name":"plugin-open-urls-configuration-api","description":"Plugin Open URLs Authorization API"},{"name":"preferences-api","description":"Preferences Service API"},{"name":"queue-settings-rest-api","description":"Queue Settings Rest Api"},{"name":"resource-survey-api","description":"Resource Survey Api"},{"name":"role-based-data-access-api","description":"Role Based Data Access Api"},{"name":"schema-api","description":"Schema Api"},{"name":"schema-only-api","description":"Schema Only Api"},{"name":"site-config-api","description":"Site Config Api"},{"name":"snapshot-generation-api","description":"Snapshot Generation Api"},{"name":"spawner-api","description":"Spawner Api"},{"name":"theme-api","description":"XNAT Theme Management API"},{"name":"total-counts-api","description":"Total Counts API"},{"name":"user-storage-rest-api","description":"User Storage Rest Api"},{"name":"users-api","description":"Users Api"},{"name":"workflow-monitor-api","description":"Workflow Monitor Api"},{"name":"xnat-plugin-api","description":"Xnat Plugin Api"},{"name":"xnat-task-api","description":"Xnat Task Api"},{"name":"xsync-entity-state-controller","description":"XSync Entity State API"},{"name":"xsync-history-controller","description":"Xsync History API"},{"name":"xsync-operations-controller","description":"XNAT XSync Operations API"},{"name":"xsync-preferences-controller","description":"XSync Preferences API"},{"name":"xsync-remote-credentials-controller","description":"XSync Credentials API"},{"name":"xsync-setup-controller","description":"XSync Management API"},{"name":"xsync-status-controller","description":"XSync Entity State API"}],"paths":{"/access/cache/flush":{"delete":{"tags":["data-access-api"],"summary":"Clears the element cache for the current user=.","operationId":"flushUserCacheStatusUsingDELETE_1","produces":["*/*"],"responses":{"200":{"description":"The user's cache was properly cleared."},"204":{"description":"No Content"},"401":{"description":"Must be authenticated to access the XNAT REST API."},"403":{"description":"Forbidden"},"500":{"description":"An unexpected error occurred."}},"deprecated":false}},"/access/cache/flush/{username}":{"delete":{"tags":["data-access-api"],"summary":"Clears the element cache for the specified user.","operationId":"flushUserCacheStatusUsingDELETE","produces":["*/*"],"parameters":[{"name":"username","in":"path","description":"Indicates the name of the user whose cache should be flushed. If not provided, this flushes the cache of the current user.","required":false,"type":"string"}],"responses":{"200":{"description":"The specified user's cache was properly cleared."},"204":{"description":"No Content"},"401":{"description":"Must be authenticated to access the XNAT REST API."},"403":{"description":"You do not have sufficient permissions to clear the specified user's cache.."},"500":{"description":"An unexpected error occurred."}},"deprecated":false}},"/access/cache/status":{"get":{"tags":["data-access-api"],"summary":"Returns a map indicating the status of the cache initialization.","operationId":"getCacheStatusUsingGET","produces":["application/json"],"responses":{"200":{"description":"A map with information on the status of cache initialization.","schema":{"type":"string"}},"401":{"description":"Must be authenticated to access the XNAT REST API."},"403":{"description":"You do not have sufficient permissions to access the list of available element displays."},"404":{"description":"Indicates that the cache implementation doesn't have the ability to report its status."},"500":{"description":"An unexpected error occurred."}},"deprecated":false}},"/access/displays":{"get":{"tags":["data-access-api"],"summary":"Gets a list of the available element displays.","description":"The available element displays can be used as parameters for this call in the form /xapi/access/displays/{DISPLAY}. This call is accessible to guest users when the site preference require login is set to false (i.e. open XNATs).","operationId":"getAvailableElementDisplaysUsingGET","produces":["application/json"],"responses":{"200":{"description":"A list of available element displays.","schema":{"type":"array","items":{"type":"string"}}},"401":{"description":"Must be authenticated to access the XNAT REST API."},"403":{"description":"You do not have sufficient permissions to access the list of available element displays."},"404":{"description":"Not Found"},"500":{"description":"An unexpected error occurred."}},"deprecated":false}},"/access/displays/modified":{"get":{"tags":["data-access-api"],"summary":"Gets the last modified timestamp for the current user.","description":"This indicates the time of the latest update to elements relevant to the user. An update to these elements can mean that permissions for the user have changed and the various displays should be refreshed if cached on the client side.","operationId":"getLastModifiedUsingGET","produces":["application/json"],"responses":{"200":{"description":"A list of available element displays.","schema":{"type":"array","items":{"type":"string"}}},"401":{"description":"Must be authenticated to access the XNAT REST API."},"403":{"description":"You do not have sufficient permissions to access the list of available element displays."},"404":{"description":"Not Found"},"500":{"description":"An unexpected error occurred."}},"deprecated":false}},"/access/displays/{display}":{"get":{"tags":["data-access-api"],"summary":"Gets a list of the element displays of the specified type for the current user.","description":"This call is accessible to guest users when the site preference require login is set to false (i.e. open XNATs).","operationId":"getElementDisplaysUsingGET","produces":["application/json"],"parameters":[{"name":"display","in":"path","description":"display","required":true,"type":"string"}],"responses":{"200":{"description":"A list of element displays of the specified type for the current user.","schema":{"type":"array","items":{"type":"string"}}},"401":{"description":"Must be authenticated to access the XNAT REST API."},"403":{"description":"You do not have sufficient permissions to access the list of available element displays."},"404":{"description":"Not Found"},"500":{"description":"An unexpected error occurred."}},"deprecated":false}},"/access/permissions/group/{projectId}":{"get":{"tags":["data-access-api"],"summary":"Finds any irregular permissions settings for standard project groups (Owners, Members, Collaborators).","operationId":"getProjectPermissionsUsingGET","produces":["*/*"],"parameters":[{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"Irregular permissions were found and fixed.","schema":{"type":"array","items":{"$ref":"#/definitions/Map"}}},"204":{"description":"There were no irregular permissions to be fixed.","schema":{"type":"array","items":{"$ref":"#/definitions/Map"}}},"401":{"description":"Must be authenticated to access the XNAT REST API."},"403":{"description":"You do not have sufficient permissions to clear the specified user's cache.."},"404":{"description":"Not Found"},"500":{"description":"An unexpected error occurred."}},"deprecated":false},"head":{"tags":["data-access-api"],"summary":"Finds any irregular permissions settings for standard project groups (Owners, Members, Collaborators).","operationId":"getProjectPermissionsUsingHEAD","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"Irregular permissions were found and fixed.","schema":{"type":"array","items":{"$ref":"#/definitions/Map"}}},"204":{"description":"There were no irregular permissions to be fixed.","schema":{"type":"array","items":{"$ref":"#/definitions/Map"}}},"401":{"description":"Must be authenticated to access the XNAT REST API."},"403":{"description":"You do not have sufficient permissions to clear the specified user's cache.."},"500":{"description":"An unexpected error occurred."}},"deprecated":false},"post":{"tags":["data-access-api"],"summary":"Finds any irregular permissions settings for standard project groups (Owners, Members, Collaborators).","operationId":"getProjectPermissionsUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"Irregular permissions were found and fixed.","schema":{"type":"array","items":{"$ref":"#/definitions/Map"}}},"201":{"description":"Created"},"204":{"description":"There were no irregular permissions to be fixed.","schema":{"type":"array","items":{"$ref":"#/definitions/Map"}}},"401":{"description":"Must be authenticated to access the XNAT REST API."},"403":{"description":"You do not have sufficient permissions to clear the specified user's cache.."},"404":{"description":"Not Found"},"500":{"description":"An unexpected error occurred."}},"deprecated":false},"put":{"tags":["data-access-api"],"summary":"Finds any irregular permissions settings for standard project groups (Owners, Members, Collaborators).","operationId":"getProjectPermissionsUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"Irregular permissions were found and fixed.","schema":{"type":"array","items":{"$ref":"#/definitions/Map"}}},"201":{"description":"Created"},"204":{"description":"There were no irregular permissions to be fixed.","schema":{"type":"array","items":{"$ref":"#/definitions/Map"}}},"401":{"description":"Must be authenticated to access the XNAT REST API."},"403":{"description":"You do not have sufficient permissions to clear the specified user's cache.."},"404":{"description":"Not Found"},"500":{"description":"An unexpected error occurred."}},"deprecated":false},"delete":{"tags":["data-access-api"],"summary":"Finds any irregular permissions settings for standard project groups (Owners, Members, Collaborators).","operationId":"getProjectPermissionsUsingDELETE","produces":["*/*"],"parameters":[{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"Irregular permissions were found and fixed.","schema":{"type":"array","items":{"$ref":"#/definitions/Map"}}},"204":{"description":"There were no irregular permissions to be fixed.","schema":{"type":"array","items":{"$ref":"#/definitions/Map"}}},"401":{"description":"Must be authenticated to access the XNAT REST API."},"403":{"description":"You do not have sufficient permissions to clear the specified user's cache.."},"500":{"description":"An unexpected error occurred."}},"deprecated":false},"options":{"tags":["data-access-api"],"summary":"Finds any irregular permissions settings for standard project groups (Owners, Members, Collaborators).","operationId":"getProjectPermissionsUsingOPTIONS","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"Irregular permissions were found and fixed.","schema":{"type":"array","items":{"$ref":"#/definitions/Map"}}},"204":{"description":"There were no irregular permissions to be fixed.","schema":{"type":"array","items":{"$ref":"#/definitions/Map"}}},"401":{"description":"Must be authenticated to access the XNAT REST API."},"403":{"description":"You do not have sufficient permissions to clear the specified user's cache.."},"500":{"description":"An unexpected error occurred."}},"deprecated":false},"patch":{"tags":["data-access-api"],"summary":"Finds any irregular permissions settings for standard project groups (Owners, Members, Collaborators).","operationId":"getProjectPermissionsUsingPATCH","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"Irregular permissions were found and fixed.","schema":{"type":"array","items":{"$ref":"#/definitions/Map"}}},"204":{"description":"There were no irregular permissions to be fixed.","schema":{"type":"array","items":{"$ref":"#/definitions/Map"}}},"401":{"description":"Must be authenticated to access the XNAT REST API."},"403":{"description":"You do not have sufficient permissions to clear the specified user's cache.."},"500":{"description":"An unexpected error occurred."}},"deprecated":false}},"/access/permissions/irregular/find":{"get":{"tags":["data-access-api"],"summary":"Finds any irregular permissions settings for standard project groups (Owners, Members, Collaborators).","operationId":"findIrregularPermissionsUsingGET","produces":["*/*"],"responses":{"200":{"description":"Irregular permissions were found and fixed.","schema":{"type":"array","items":{"$ref":"#/definitions/Map"}}},"204":{"description":"There were no irregular permissions to be fixed.","schema":{"type":"array","items":{"$ref":"#/definitions/Map"}}},"401":{"description":"Must be authenticated to access the XNAT REST API."},"403":{"description":"You do not have sufficient permissions to clear the specified user's cache.."},"404":{"description":"Not Found"},"500":{"description":"An unexpected error occurred."}},"deprecated":false},"head":{"tags":["data-access-api"],"summary":"Finds any irregular permissions settings for standard project groups (Owners, Members, Collaborators).","operationId":"findIrregularPermissionsUsingHEAD","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"Irregular permissions were found and fixed.","schema":{"type":"array","items":{"$ref":"#/definitions/Map"}}},"204":{"description":"There were no irregular permissions to be fixed.","schema":{"type":"array","items":{"$ref":"#/definitions/Map"}}},"401":{"description":"Must be authenticated to access the XNAT REST API."},"403":{"description":"You do not have sufficient permissions to clear the specified user's cache.."},"500":{"description":"An unexpected error occurred."}},"deprecated":false},"post":{"tags":["data-access-api"],"summary":"Finds any irregular permissions settings for standard project groups (Owners, Members, Collaborators).","operationId":"findIrregularPermissionsUsingPOST","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"Irregular permissions were found and fixed.","schema":{"type":"array","items":{"$ref":"#/definitions/Map"}}},"201":{"description":"Created"},"204":{"description":"There were no irregular permissions to be fixed.","schema":{"type":"array","items":{"$ref":"#/definitions/Map"}}},"401":{"description":"Must be authenticated to access the XNAT REST API."},"403":{"description":"You do not have sufficient permissions to clear the specified user's cache.."},"404":{"description":"Not Found"},"500":{"description":"An unexpected error occurred."}},"deprecated":false},"put":{"tags":["data-access-api"],"summary":"Finds any irregular permissions settings for standard project groups (Owners, Members, Collaborators).","operationId":"findIrregularPermissionsUsingPUT","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"Irregular permissions were found and fixed.","schema":{"type":"array","items":{"$ref":"#/definitions/Map"}}},"201":{"description":"Created"},"204":{"description":"There were no irregular permissions to be fixed.","schema":{"type":"array","items":{"$ref":"#/definitions/Map"}}},"401":{"description":"Must be authenticated to access the XNAT REST API."},"403":{"description":"You do not have sufficient permissions to clear the specified user's cache.."},"404":{"description":"Not Found"},"500":{"description":"An unexpected error occurred."}},"deprecated":false},"delete":{"tags":["data-access-api"],"summary":"Finds any irregular permissions settings for standard project groups (Owners, Members, Collaborators).","operationId":"findIrregularPermissionsUsingDELETE","produces":["*/*"],"responses":{"200":{"description":"Irregular permissions were found and fixed.","schema":{"type":"array","items":{"$ref":"#/definitions/Map"}}},"204":{"description":"There were no irregular permissions to be fixed.","schema":{"type":"array","items":{"$ref":"#/definitions/Map"}}},"401":{"description":"Must be authenticated to access the XNAT REST API."},"403":{"description":"You do not have sufficient permissions to clear the specified user's cache.."},"500":{"description":"An unexpected error occurred."}},"deprecated":false},"options":{"tags":["data-access-api"],"summary":"Finds any irregular permissions settings for standard project groups (Owners, Members, Collaborators).","operationId":"findIrregularPermissionsUsingOPTIONS","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"Irregular permissions were found and fixed.","schema":{"type":"array","items":{"$ref":"#/definitions/Map"}}},"204":{"description":"There were no irregular permissions to be fixed.","schema":{"type":"array","items":{"$ref":"#/definitions/Map"}}},"401":{"description":"Must be authenticated to access the XNAT REST API."},"403":{"description":"You do not have sufficient permissions to clear the specified user's cache.."},"500":{"description":"An unexpected error occurred."}},"deprecated":false},"patch":{"tags":["data-access-api"],"summary":"Finds any irregular permissions settings for standard project groups (Owners, Members, Collaborators).","operationId":"findIrregularPermissionsUsingPATCH","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"Irregular permissions were found and fixed.","schema":{"type":"array","items":{"$ref":"#/definitions/Map"}}},"204":{"description":"There were no irregular permissions to be fixed.","schema":{"type":"array","items":{"$ref":"#/definitions/Map"}}},"401":{"description":"Must be authenticated to access the XNAT REST API."},"403":{"description":"You do not have sufficient permissions to clear the specified user's cache.."},"500":{"description":"An unexpected error occurred."}},"deprecated":false}},"/access/permissions/irregular/fix":{"post":{"tags":["data-access-api"],"summary":"Finds and fixes any irregular permissions settings for standard project groups (Owners, Members, Collaborators).","operationId":"fixIrregularPermissionsUsingPOST","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"Irregular permissions were found and fixed.","schema":{"type":"array","items":{"type":"integer","format":"int32"}}},"201":{"description":"Created"},"204":{"description":"There were no irregular permissions to be fixed.","schema":{"type":"array","items":{"type":"integer","format":"int32"}}},"401":{"description":"Must be authenticated to access the XNAT REST API."},"403":{"description":"You do not have sufficient permissions to clear the specified user's cache.."},"404":{"description":"Not Found"},"500":{"description":"An unexpected error occurred."}},"deprecated":false}},"/access/projects":{"get":{"tags":["data-access-api"],"summary":"Gets the projects and roles associated with the current user.","operationId":"getProjectRolesUsingGET","produces":["application/json"],"responses":{"200":{"description":"A list of projects and roles for the current user.","schema":{"type":"string"}},"401":{"description":"Must be authenticated to access the XNAT REST API."},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"An unexpected error occurred."}},"deprecated":false}},"/access/{username}/displays/modified":{"get":{"tags":["data-access-api"],"summary":"Gets the last modified timestamp for the specified user. This can only be called by users with administrative privileges.","description":"This indicates the time of the latest update to elements relevant to the specified user. An update to these elements can mean that permissions for the specified user have changed and the various displays should be refreshed if cached on the client side.","operationId":"getLastModifiedForUserUsingGET","produces":["application/json"],"parameters":[{"name":"username","in":"path","description":"The user to get the last modified timestamp for.","required":false,"type":"string"}],"responses":{"200":{"description":"Timestamp of when the list of available element displays for the specified user was updated.","schema":{"type":"array","items":{"type":"string"}}},"401":{"description":"Must be authenticated to access the XNAT REST API."},"403":{"description":"You do not have sufficient permissions to access the user's cache timestamp."},"404":{"description":"Not Found"},"500":{"description":"An unexpected error occurred."}},"deprecated":false}},"/access/{username}/displays/{display}":{"get":{"tags":["data-access-api"],"summary":"Gets a list of the element displays of the specified type for the specified user. This can only be called by users with administrative privileges.","operationId":"getElementDisplaysForUserUsingGET","produces":["application/json"],"parameters":[{"name":"display","in":"path","description":"display","required":true,"type":"string"},{"name":"username","in":"path","description":"username","required":true,"type":"string"}],"responses":{"200":{"description":"A list of element displays of the specified type for the specified user.","schema":{"type":"array","items":{"type":"string"}}},"401":{"description":"Must be authenticated to access the XNAT REST API."},"403":{"description":"You do not have sufficient permissions to access the list of available element displays for the specified user."},"404":{"description":"Not Found"},"500":{"description":"An unexpected error occurred."}},"deprecated":false}},"/access/{username}/projects":{"get":{"tags":["data-access-api"],"summary":"Gets the projects and roles associated with the specified user. This can only be called by users with administrative privileges.","operationId":"getUserProjectRolesUsingGET","produces":["application/json"],"parameters":[{"name":"username","in":"path","description":"The user to get the project roles for.","required":false,"type":"string"}],"responses":{"200":{"description":"A list of projects and roles for the specified user.","schema":{"type":"string"}},"401":{"description":"Must be authenticated to access the XNAT REST API."},"403":{"description":"You do not have sufficient permissions to access the user's projects and roles."},"404":{"description":"Not Found"},"500":{"description":"An unexpected error occurred."}},"deprecated":false}},"/anonymize/default":{"get":{"tags":["anonymize-api"],"summary":"Gets the default anonymization script.","operationId":"getDefaultAnonScriptUsingGET","produces":["text/plain"],"responses":{"200":{"description":"Successfully retrieved the contents of the default anonymization script.","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"403":{"description":"Insufficient permissions to access the default anonymization script."},"404":{"description":"Not Found"},"500":{"description":"An unexpected error occurred."}},"deprecated":false}},"/anonymize/projects/{projectId}":{"get":{"tags":["anonymize-api"],"summary":"Gets the project-specific anonymization script.","operationId":"getProjectAnonScriptUsingGET","produces":["text/plain"],"parameters":[{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"Successfully retrieved the contents of the project-specific anonymization script.","schema":{"type":"string"}},"204":{"description":"The specified project was found but had no associated anonymization script.","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"403":{"description":"Insufficient permissions to access the project-specific anonymization script."},"404":{"description":"The specified project wasn't found."},"500":{"description":"An unexpected error occurred."}},"deprecated":false},"put":{"tags":["anonymize-api"],"summary":"Sets the project-specific anonymization script.","operationId":"setProjectAnonScriptUsingPUT","consumes":["text/plain"],"produces":["*/*"],"parameters":[{"name":"projectId","in":"path","description":"Indicates the ID of the project for which the anonymization script should be enabled or disabled.","required":true,"type":"string"},{"in":"body","name":"script","description":"Whether the specified project's anonymization script should be enabled or disabled.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully stored the contents of the project-specific anonymization script."},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Insufficient permissions to modify the project-specific anonymization script."},"404":{"description":"The specified project wasn't found."},"500":{"description":"An unexpected error occurred."}},"deprecated":false}},"/anonymize/projects/{projectId}/enabled":{"get":{"tags":["anonymize-api"],"summary":"Indicates whether the project-specific anonymization script is enabled or disabled.","operationId":"isProjectAnonScriptEnabledUsingGET","produces":["application/json"],"parameters":[{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"Successfully retrieved the status of the project-specific anonymization script.","schema":{"type":"boolean"}},"401":{"description":"Unauthorized"},"403":{"description":"Insufficient permissions to access the project-specific anonymization script settings."},"404":{"description":"Not Found"},"500":{"description":"An unexpected error occurred."}},"deprecated":false},"put":{"tags":["anonymize-api"],"summary":"Enables or disables the project-specific anonymization script.","operationId":"setProjectAnonScriptEnabledUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"enable","in":"query","description":"enable","required":false,"type":"boolean","default":true},{"name":"projectId","in":"path","description":"projectId","required":true,"type":"string"}],"responses":{"200":{"description":"Successfully set the status of the project-specific anonymization script."},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Insufficient permissions to modify the project-specific anonymization script settings."},"404":{"description":"Not Found"},"500":{"description":"An unexpected error occurred."}},"deprecated":false}},"/anonymize/site":{"get":{"tags":["anonymize-api"],"summary":"Gets the site-wide anonymization script.","operationId":"getSiteWideAnonScriptUsingGET","produces":["text/plain"],"responses":{"200":{"description":"Successfully retrieved the contents of the site-wide anonymization script.","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"403":{"description":"Insufficient permissions to access the site-wide anonymization script."},"404":{"description":"Not Found"},"500":{"description":"An unexpected error occurred."}},"deprecated":false},"put":{"tags":["anonymize-api"],"summary":"Sets the site-wide anonymization script.","operationId":"setSiteWideAnonScriptUsingPUT","consumes":["text/plain"],"produces":["*/*"],"parameters":[{"in":"body","name":"script","description":"script","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully stored the contents of the site-wide anonymization script."},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Insufficient permissions to modify the site-wide anonymization script."},"404":{"description":"Not Found"},"500":{"description":"An unexpected error occurred."}},"deprecated":false}},"/anonymize/site/enabled":{"get":{"tags":["anonymize-api"],"summary":"Indicates whether the site-wide anonymization script is enabled or disabled.","operationId":"isSiteWideAnonScriptEnabledUsingGET","produces":["application/json"],"responses":{"200":{"description":"Successfully retrieved the status of the site-wide anonymization script.","schema":{"type":"boolean"}},"401":{"description":"Unauthorized"},"403":{"description":"Insufficient permissions to access the site-wide anonymization script settings."},"404":{"description":"Not Found"},"500":{"description":"An unexpected error occurred."}},"deprecated":false},"put":{"tags":["anonymize-api"],"summary":"Enables or disables the site-wide anonymization script.","operationId":"setSiteWideAnonScriptEnabledUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"enable","in":"query","description":"Whether the site-wide anonymization script should be enabled or disabled.","required":false,"type":"boolean","default":true,"allowEmptyValue":false}],"responses":{"200":{"description":"Successfully set the status of the site-wide anonymization script."},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Insufficient permissions to modify the site-wide anonymization script settings."},"404":{"description":"Not Found"},"500":{"description":"An unexpected error occurred."}},"deprecated":false}},"/archive/catalogs/refresh":{"put":{"tags":["catalog-api"],"summary":"Refresh the catalog entry for one or more resources.","description":"The resource should be identified by standard archive-relative paths, such as /archive/experiments/XNAT_E0001 or /archive/projects/XNAT_01/subjects/XNAT_01_01.","operationId":"refreshResourceCatalogUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"resources","description":"The list of resources to be refreshed.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"The refresh operation(s) were completed successfully."},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"An unexpected or unknown error occurred"}},"deprecated":false}},"/archive/catalogs/refresh/{operations}":{"put":{"tags":["catalog-api"],"summary":"Refresh the catalog entry for one or more resources, performing only the operations specified.","description":"The resource should be identified by standard archive-relative paths, such as /archive/experiments/XNAT_E0001 or /archive/projects/XNAT_01/subjects/XNAT_01_01. The available operations are All, Append, Checksum, Delete, and PopulateStats. They should be comma separated but without spaces. Omitting the operations implies All.","operationId":"refreshResourceCatalogWithOptionsUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"operations","in":"path","description":"The operations to be performed","required":false,"type":"string","enum":["All","Append","Checksum","Delete","PopulateStats"]},{"in":"body","name":"resources","description":"The list of resources to be refreshed.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"The refresh operation(s) were completed successfully."},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"An unexpected or unknown error occurred"}},"deprecated":false}},"/archive/download":{"post":{"tags":["catalog-api"],"summary":"Creates a download catalog for the submitted sessions and other data objects.","description":"The map submitted to this call supports lists of object IDs organized by key type: sessions, scan_type, scan_format, recon, assessors, and resources. The response for this method is the ID for the catalog of resolved resources, which can be submitted to the download/{catalog} function to retrieve the catalog or to the download/{catalog}/zip function to retrieve thefiles in the catalog as a zip archive.","operationId":"createDownloadSessionsCatalogUsingPOST","consumes":["application/json"],"produces":["application/xml"],"parameters":[{"in":"body","name":"resources","description":"The resources to be cataloged.","required":false,"schema":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}],"responses":{"200":{"description":"The download catalog was successfully built.","schema":{"type":"string"}},"201":{"description":"Created"},"204":{"description":"No resources were specified.","schema":{"type":"string"}},"400":{"description":"Something is wrong with the request format."},"401":{"description":"Unauthorized"},"403":{"description":"The user is not authorized to access one or more of the specified resources."},"404":{"description":"The request was valid but one or more of the specified resources was not found."},"500":{"description":"An unexpected or unknown error occurred"}},"deprecated":false}},"/archive/download/{catalogId}":{"get":{"tags":["catalog-api"],"summary":"Retrieves the download catalog for the submitted catalog ID.","description":"This retrieves a catalog created earlier by the catalog service.","operationId":"getDownloadSessionsCatalogUsingGET","produces":["application/xml"],"parameters":[{"name":"catalogId","in":"path","description":"The ID of the catalog to be downloaded.","required":false,"type":"string"}],"responses":{"200":{"description":"The download catalog was successfully built.","schema":{"$ref":"#/definitions/CatCatalogBean"}},"204":{"description":"No resources were specified.","schema":{"$ref":"#/definitions/CatCatalogBean"}},"400":{"description":"Something is wrong with the request format."},"401":{"description":"Unauthorized"},"403":{"description":"The user is not authorized to access one or more of the specified resources."},"404":{"description":"The request was valid but one or more of the specified resources was not found."},"500":{"description":"An unexpected or unknown error occurred"}},"deprecated":false}},"/archive/download/{catalogId}/test":{"get":{"tags":["catalog-api"],"summary":"Downloads the specified catalog as a zip archive, using a small empty file for each entry.","operationId":"downloadSessionCatalogZipTestUsingGET","produces":["application/zip"],"parameters":[{"name":"catalogId","in":"path","description":"The ID of the catalog of resources to be downloaded.","required":false,"type":"string"}],"responses":{"200":{"description":"The requested resources were successfully downloaded.","schema":{"$ref":"#/definitions/StreamingResponseBody"}},"204":{"description":"No resources were specified.","schema":{"$ref":"#/definitions/StreamingResponseBody"}},"400":{"description":"Something is wrong with the request format."},"401":{"description":"Unauthorized"},"403":{"description":"The user is not authorized to access one or more of the specified resources."},"404":{"description":"The request was valid but one or more of the specified resources was not found."},"500":{"description":"An unexpected or unknown error occurred"}},"deprecated":false}},"/archive/download/{catalogId}/xml":{"get":{"tags":["catalog-api"],"summary":"Downloads the specified catalog as an XML file.","operationId":"downloadSessionCatalogXmlUsingGET","produces":["application/xml"],"parameters":[{"name":"catalogId","in":"path","description":"The ID of the catalog to be downloaded.","required":false,"type":"string"}],"responses":{"200":{"description":"The requested catalog was successfully downloaded.","schema":{"$ref":"#/definitions/StreamingResponseBody"}},"204":{"description":"No catalog was specified.","schema":{"$ref":"#/definitions/StreamingResponseBody"}},"400":{"description":"Something is wrong with the request format."},"401":{"description":"Unauthorized"},"403":{"description":"The user is not authorized to access the specified catalog."},"404":{"description":"The request was valid but the specified catalog was not found."},"500":{"description":"An unexpected or unknown error occurred"}},"deprecated":false}},"/archive/download/{catalogId}/zip":{"get":{"tags":["catalog-api"],"summary":"Downloads the contents of the specified catalog as a zip archive.","operationId":"downloadSessionCatalogZipUsingGET","produces":["application/zip"],"parameters":[{"name":"catalogId","in":"path","description":"The ID of the catalog of resources to be downloaded.","required":false,"type":"string"}],"responses":{"200":{"description":"The requested resources were successfully downloaded.","schema":{"$ref":"#/definitions/StreamingResponseBody"}},"204":{"description":"No resources were specified.","schema":{"$ref":"#/definitions/StreamingResponseBody"}},"400":{"description":"Something is wrong with the request format."},"401":{"description":"Unauthorized"},"403":{"description":"The user is not authorized to access one or more of the specified resources."},"404":{"description":"The request was valid but one or more of the specified resources was not found."},"500":{"description":"An unexpected or unknown error occurred"}},"deprecated":false}},"/archive/downloadwithsize":{"post":{"tags":["catalog-api"],"summary":"Creates a download catalog for the submitted sessions and other data objects.","description":"The map submitted to this call supports lists of object IDs organized by key type: sessions, scan_type, scan_format, recon, assessors, and resources. The response for this method is jsonwith the ID for the catalog of resolved resources (which can be submitted to the download/{catalog} function to retrieve the catalog or to the download/{catalog}/zip functionto retrieve the files in the catalog as a zip archive), as well as the total size of the files.","operationId":"createDownloadSessionsCatalogWithSizeUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"resources","description":"The resources to be cataloged.","required":false,"schema":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}],"responses":{"200":{"description":"The download catalog was successfully built.","schema":{"type":"string"}},"201":{"description":"Created"},"204":{"description":"No resources were specified.","schema":{"type":"string"}},"400":{"description":"Something is wrong with the request format."},"401":{"description":"Unauthorized"},"403":{"description":"The user is not authorized to access one or more of the specified resources."},"404":{"description":"The request was valid but one or more of the specified resources was not found."},"500":{"description":"An unexpected or unknown error occurred"}},"deprecated":false}},"/archive/upload/xml":{"post":{"tags":["catalog-api"],"summary":"Accepts the XML payload and attempts to create or update an XNAT data object as appropriate.","operationId":"uploadXmlUsingPOST","consumes":["multipart/form-data"],"produces":["text/plain"],"parameters":[{"in":"formData","name":"allowDataDeletion","description":"Indicates whether data in existing objects should be overwritten by values in the uploaded XML","required":false,"schema":{"type":"boolean"}},{"in":"formData","name":"event_action","description":"Describes the event action for audit entries","required":false,"schema":{"type":"string"}},{"in":"formData","name":"event_comment","description":"Includes any comments about the change.","required":false,"schema":{"type":"string"}},{"in":"formData","name":"event_reason","description":"Describes the reason for the change.","required":false,"schema":{"type":"string"}},{"name":"item","in":"formData","description":"The XML body.","required":false,"type":"file"}],"responses":{"200":{"description":"The requested XML was successfully uploaded.","schema":{"type":"string"}},"201":{"description":"Created"},"204":{"description":"No resources were specified.","schema":{"type":"string"}},"400":{"description":"Something is wrong with the request format."},"401":{"description":"Unauthorized"},"403":{"description":"The user is not authorized to access one or more of the specified resources."},"404":{"description":"The request was valid but one or more of the specified resources was not found."},"500":{"description":"An unexpected or unknown error occurred"}},"deprecated":false},"put":{"tags":["catalog-api"],"summary":"Accepts the XML payload and attempts to create or update an XNAT data object as appropriate.","operationId":"uploadXmlUsingPUT","consumes":["application/xml","text/plain"],"produces":["text/plain"],"parameters":[{"name":"allowDataDeletion","in":"query","description":"Indicates whether data in existing objects should be overwritten by values in the uploaded XML","required":false,"type":"boolean","allowEmptyValue":false},{"name":"event_action","in":"query","description":"Describes the event action for audit entries","required":false,"type":"string","default":"REST","allowEmptyValue":false},{"name":"event_comment","in":"query","description":"Includes any comments about the change.","required":false,"type":"string","allowEmptyValue":false},{"name":"event_reason","in":"query","description":"Describes the reason for the change.","required":false,"type":"string","allowEmptyValue":false},{"in":"body","name":"xml","description":"The XML body.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"The requested XML was successfully uploaded.","schema":{"type":"string"}},"201":{"description":"Created"},"204":{"description":"No resources were specified.","schema":{"type":"string"}},"400":{"description":"Something is wrong with the request format."},"401":{"description":"Unauthorized"},"403":{"description":"The user is not authorized to access one or more of the specified resources."},"404":{"description":"The request was valid but one or more of the specified resources was not found."},"500":{"description":"An unexpected or unknown error occurred"}},"deprecated":false}},"/asyncOps":{"get":{"tags":["async-operations-api"],"summary":"Returns the full map of async operations preferences for this XNAT application.","operationId":"getAsyncOperationsPreferencesUsingGET","produces":["application/json"],"responses":{"200":{"description":"Async operations preferences successfully retrieved.","schema":{"type":"object","additionalProperties":{"type":"object"}}},"401":{"description":"Must be authenticated to access the XNAT REST API."},"403":{"description":"Insufficient privileges to retrieve the requested settings."},"404":{"description":"Not Found"},"500":{"description":"An unexpected error occurred."}},"deprecated":false},"post":{"tags":["async-operations-api"],"summary":"Sets a map of async operations preferences.","description":"Sets the async operations preferences specified in the map.","operationId":"setAsyncOperationsPreferencesUsingPOST","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["*/*"],"parameters":[{"in":"body","name":"preferences","description":"The map of async operations preferences to be set.","required":true,"schema":{"type":"object"}}],"responses":{"200":{"description":"Async operations preferences successfully set.","schema":{"type":"integer","format":"int32"}},"201":{"description":"Created"},"401":{"description":"Must be authenticated to access the XNAT REST API."},"403":{"description":"Not authorized to set async operations preferences."},"404":{"description":"Not Found"},"500":{"description":"Unexpected error"}},"deprecated":false}},"/asyncOps/{preference}":{"get":{"tags":["async-operations-api"],"summary":"Returns the value of a particular async operations preference.","operationId":"getAsyncOperationsPreferenceUsingGET","produces":["application/json"],"parameters":[{"name":"preference","in":"path","description":"preference","required":true,"type":"string"}],"responses":{"200":{"description":"Preference settings successfully retrieved.","schema":{"type":"string"}},"401":{"description":"Must be authenticated to access the XNAT REST API."},"403":{"description":"Insufficient privileges to retrieve the requested setting."},"404":{"description":"Tool ID not found in the system."},"500":{"description":"An unexpected error occurred."}},"deprecated":false},"head":{"tags":["async-operations-api"],"summary":"Returns the value of a particular async operations preference.","operationId":"getAsyncOperationsPreferenceUsingHEAD","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"preference","in":"path","description":"preference","required":true,"type":"string"}],"responses":{"200":{"description":"Preference settings successfully retrieved.","schema":{"type":"string"}},"204":{"description":"No Content"},"401":{"description":"Must be authenticated to access the XNAT REST API."},"403":{"description":"Insufficient privileges to retrieve the requested setting."},"404":{"description":"Tool ID not found in the system."},"500":{"description":"An unexpected error occurred."}},"deprecated":false},"post":{"tags":["async-operations-api"],"summary":"Sets the value for the indicated async operations preference.","description":"This method returns the previously set value for the indicated preference.","operationId":"getAsyncOperationsPreferenceUsingPOST_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"preference","in":"path","description":"preference","required":true,"type":"string"},{"in":"body","name":"value","description":"value","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Preference value successfully stored.","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Must be authenticated to access the XNAT REST API."},"403":{"description":"Insufficient privileges to retrieve the requested setting."},"404":{"description":"Tool ID not found in the system."},"500":{"description":"An unexpected error occurred."}},"deprecated":false},"put":{"tags":["async-operations-api"],"summary":"Returns the value of a particular async operations preference.","operationId":"getAsyncOperationsPreferenceUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"preference","in":"path","description":"preference","required":true,"type":"string"}],"responses":{"200":{"description":"Preference settings successfully retrieved.","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Must be authenticated to access the XNAT REST API."},"403":{"description":"Insufficient privileges to retrieve the requested setting."},"404":{"description":"Tool ID not found in the system."},"500":{"description":"An unexpected error occurred."}},"deprecated":false},"delete":{"tags":["async-operations-api"],"summary":"Returns the value of a particular async operations preference.","operationId":"getAsyncOperationsPreferenceUsingDELETE","produces":["application/json"],"parameters":[{"name":"preference","in":"path","description":"preference","required":true,"type":"string"}],"responses":{"200":{"description":"Preference settings successfully retrieved.","schema":{"type":"string"}},"204":{"description":"No Content"},"401":{"description":"Must be authenticated to access the XNAT REST API."},"403":{"description":"Insufficient privileges to retrieve the requested setting."},"404":{"description":"Tool ID not found in the system."},"500":{"description":"An unexpected error occurred."}},"deprecated":false},"options":{"tags":["async-operations-api"],"summary":"Returns the value of a particular async operations preference.","operationId":"getAsyncOperationsPreferenceUsingOPTIONS","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"preference","in":"path","description":"preference","required":true,"type":"string"}],"responses":{"200":{"description":"Preference settings successfully retrieved.","schema":{"type":"string"}},"204":{"description":"No Content"},"401":{"description":"Must be authenticated to access the XNAT REST API."},"403":{"description":"Insufficient privileges to retrieve the requested setting."},"404":{"description":"Tool ID not found in the system."},"500":{"description":"An unexpected error occurred."}},"deprecated":false},"patch":{"tags":["async-operations-api"],"summary":"Returns the value of a particular async operations preference.","operationId":"getAsyncOperationsPreferenceUsingPATCH","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"preference","in":"path","description":"preference","required":true,"type":"string"}],"responses":{"200":{"description":"Preference settings successfully retrieved.","schema":{"type":"string"}},"204":{"description":"No Content"},"401":{"description":"Must be authenticated to access the XNAT REST API."},"403":{"description":"Insufficient privileges to retrieve the requested setting."},"404":{"description":"Tool ID not found in the system."},"500":{"description":"An unexpected error occurred."}},"deprecated":false}},"/automation":{"get":{"tags":["automation-api"],"summary":"Returns the full map of automation settings for this XNAT application.","description":"Complex objects may be returned as encapsulated JSON strings.","operationId":"getAllAutomationPreferencesUsingGET","produces":["application/json"],"responses":{"200":{"description":"Automation settings successfully retrieved.","schema":{"type":"string"}},"401":{"description":"Must be authenticated to access the XNAT REST API."},"403":{"description":"Insufficient privileges to retrieve the requested setting."},"404":{"description":"Not Found"},"500":{"description":"An unexpected error occurred."}},"deprecated":false},"post":{"tags":["automation-api"],"summary":"Sets a map of automation properties.","description":"Sets the automation properties specified in the map.","operationId":"setBatchAutomationPreferencesUsingPOST","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["*/*"],"parameters":[{"in":"body","name":"properties","description":"The map of automation preferences to be set.","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"Automation properties successfully set."},"201":{"description":"Created"},"401":{"description":"Must be authenticated to access the XNAT REST API."},"403":{"description":"Not authorized to set automation properties."},"404":{"description":"Not Found"},"500":{"description":"An unexpected error occurred."}},"deprecated":false}},"/automation/enabled":{"get":{"tags":["automation-api"],"summary":"Returns whether internal scripting is enabled for this XNAT application.","description":"Internal scripting may be used by XNAT itself even when disabled, but this setting indicates whether users and administrators can configure and execute scripts internally to the application process. Access to this setting is restricted to site administrators.","operationId":"isInternalScriptingEnabledUsingGET","produces":["application/json"],"responses":{"200":{"description":"Internal scripting setting successfully retrieved.","schema":{"type":"boolean"}},"401":{"description":"Must be authenticated to access the XNAT REST API."},"403":{"description":"Insufficient privileges to retrieve the requested setting."},"404":{"description":"Not Found"},"500":{"description":"An unexpected error occurred."}},"deprecated":false}},"/automation/enabled/{setting}":{"put":{"tags":["automation-api"],"summary":"Sets the internal scripting enabled flag for this XNAT application to the submitted value.","description":"Internal scripting may be used by XNAT itself even when disabled, but this setting indicates whether users and administrators can configure and execute scripts internally to the application process. Access to this setting is restricted to site administrators.","operationId":"setInternalScriptingEnabledUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"setting","in":"path","description":"setting","required":true,"type":"boolean"}],"responses":{"200":{"description":"Internal scripting setting successfully set.","schema":{"type":"boolean"}},"201":{"description":"Created"},"401":{"description":"Must be authenticated to access the XNAT REST API."},"403":{"description":"Insufficient privileges to change the requested setting."},"404":{"description":"Not Found"},"500":{"description":"An unexpected error occurred."}},"deprecated":false}},"/caching":{"get":{"tags":["caching-api"],"summary":"Returns a list of all of the existing caches on the system.","operationId":"getAllCacheNamesUsingGET","produces":["application/json"],"responses":{"200":{"description":"XNAT cache names successfully retrieved.","schema":{"type":"array","items":{"type":"string"}}},"401":{"description":"Must be authenticated to access the XNAT REST API."},"403":{"description":"Must be an administrator to view XNAT caches."},"404":{"description":"Not Found"},"500":{"description":"Unexpected error"}},"deprecated":false}},"/caching/{cacheName}/info":{"get":{"tags":["caching-api"],"summary":"Returns the configuration for the specified cache.","description":"Throws NotFoundException if a cache with the specified name doesn't exist.","operationId":"getCacheInfoUsingGET","produces":["application/json"],"parameters":[{"name":"cacheName","in":"path","description":"cacheName","required":true,"type":"string"}],"responses":{"200":{"description":"XNAT cache configuration successfully retrieved.","schema":{"$ref":"#/definitions/CompleteConfiguration"}},"401":{"description":"Must be authenticated to access the XNAT REST API."},"403":{"description":"Must be an administrator to view XNAT caches."},"404":{"description":"No cache with the specified name exists."},"500":{"description":"Unexpected error"}},"deprecated":false}},"/caching/{cacheName}/keys":{"get":{"tags":["caching-api"],"summary":"Returns a list of the keys in the specified cache.","description":"Throws NotFoundException if a cache with the specified name doesn't exist.","operationId":"getCacheKeysUsingGET","produces":["application/json"],"parameters":[{"name":"cacheName","in":"path","description":"cacheName","required":true,"type":"string"}],"responses":{"200":{"description":"XNAT cache keys successfully retrieved.","schema":{"type":"array","items":{"type":"string"}}},"401":{"description":"Must be authenticated to access the XNAT REST API."},"403":{"description":"Must be an administrator to view XNAT caches."},"404":{"description":"No cache with the specified name exists."},"500":{"description":"Unexpected error"}},"deprecated":false}},"/caching/{cacheName}/keys/{key}":{"get":{"tags":["caching-api"],"summary":"Returns a list of the keys in the specified cache.","description":"Throws NotFoundException if a cache with the specified name doesn't exist.","operationId":"getCacheValueUsingGET","produces":["application/json"],"parameters":[{"name":"cacheName","in":"path","description":"cacheName","required":true,"type":"string"},{"name":"key","in":"path","description":"key","required":true,"type":"string"}],"responses":{"200":{"description":"XNAT cache keys successfully retrieved.","schema":{"type":"array","items":{"type":"string"}}},"401":{"description":"Must be authenticated to access the XNAT REST API."},"403":{"description":"Must be an administrator to view XNAT caches."},"404":{"description":"No cache with the specified name exists."},"500":{"description":"Unexpected error"}},"deprecated":false}},"/command/{id}/visibility/{visibility}":{"post":{"tags":["command-visibility-rest-api"],"summary":"Modify Command visibility","operationId":"setVisibilityUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"},{"name":"visibility","in":"path","description":"visibility","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commandeventmapping":{"get":{"tags":["command-event-mapping-rest-api"],"summary":"Get all Command-Event Mappings","operationId":"getMappingsUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CommandEventMapping"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["command-event-mapping-rest-api"],"summary":"Create a Command-Event Mapping","description":"Use the event service to trigger commands based on events","operationId":"createUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"commandEventMapping","description":"commandEventMapping","required":true,"schema":{"$ref":"#/definitions/CommandEventMapping"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CommandEventMapping"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/commandeventmapping/{id}":{"get":{"tags":["command-event-mapping-rest-api"],"summary":"Get a Command-Event-Mapping","operationId":"retrieveUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CommandEventMapping"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["command-event-mapping-rest-api"],"summary":"Delete a Command-Event Mapping","operationId":"deleteUsingDELETE","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/commandeventmapping/{id}/convert":{"post":{"tags":["command-event-mapping-rest-api"],"summary":"Convert a Command-Event Automation item to an Event Service Subscription","operationId":"convertUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commandeventmapping/{id}/disable":{"put":{"tags":["command-event-mapping-rest-api"],"summary":"Disable a Command-Event Mapping","description":"Use the event service to trigger commands based on events","operationId":"disableUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/commandeventmapping/{id}/enable":{"put":{"tags":["command-event-mapping-rest-api"],"summary":"Enable a Command-Event Mapping","description":"Use the event service to trigger commands based on events","operationId":"enableUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/commands":{"get":{"tags":["command-rest-api"],"summary":"Get all Commands","operationId":"getCommandsUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Command"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["command-rest-api"],"summary":"Create a Command","operationId":"createCommandUsingPOST","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"command","description":"command","required":true,"schema":{"$ref":"#/definitions/CommandCreation"}},{"name":"image","in":"query","description":"image","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"integer","format":"int64"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commands/available":{"get":{"tags":["command-rest-api"],"summary":"Get Commands available in given project context and XSIType","operationId":"availableCommandsUsingGET","produces":["*/*"],"parameters":[{"name":"project","in":"query","description":"project","required":true,"type":"string"},{"name":"xsiType","in":"query","description":"xsiType","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CommandSummaryForContext"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commands/available/site":{"get":{"tags":["command-rest-api"],"summary":"Get Commands sitewide with given XSIType","operationId":"siteLevelAvailableCommandsUsingGET","produces":["*/*"],"parameters":[{"name":"projects","in":"query","description":"projects","required":false,"type":"string"},{"name":"xsiType","in":"query","description":"xsiType","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CommandSummaryForContext"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commands/{commandId}/wrappers/{wrapperId}":{"post":{"tags":["command-rest-api"],"summary":"Update a Command Wrapper","operationId":"updateWrapperUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"commandId","in":"path","description":"commandId","required":true,"type":"integer","format":"int64"},{"in":"body","name":"commandWrapper","description":"commandWrapper","required":true,"schema":{"$ref":"#/definitions/CommandWrapper"}},{"name":"wrapperId","in":"path","description":"wrapperId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commands/{commandId}/wrappers/{wrapperName}/bulklaunch":{"get":{"tags":["launch-rest-api"],"summary":"Get Bulk Launch UI for wrapper","description":"DOES NOT WORK PROPERLY IN SWAGGER UI","operationId":"getBulkLaunchUiUsingGET","produces":["*/*"],"parameters":[{"name":"commandId","in":"path","description":"commandId","required":true,"type":"integer","format":"int64"},{"name":"rootElement","in":"query","description":"rootElement","required":true,"type":"string"},{"name":"sampleTarget","in":"query","description":"sampleTarget","required":true,"type":"string"},{"name":"wrapperName","in":"path","description":"wrapperName","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LaunchUi"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["launch-rest-api"],"summary":"Resolve a command from the variable values in the request body, and launch it","description":"Replaced by /commands/{commandId}/wrappers/{wrapperName}/root/{rootElement}/bulklaunch including xsiType as rootElement parameter.","operationId":"bulklaunch2UsingPOST","consumes":["application/json;charset=UTF-8"],"produces":["*/*"],"parameters":[{"in":"body","name":"allRequestParams","description":"allRequestParams","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}},{"name":"commandId","in":"path","description":"commandId","required":true,"type":"integer","format":"int64"},{"name":"wrapperName","in":"path","description":"wrapperName","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BulkLaunchReport"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/commands/{commandId}/wrappers/{wrapperName}/config":{"get":{"tags":["command-configuration-rest-api"],"summary":"Get (site)","operationId":"getConfigurationUsingGET","produces":["*/*"],"parameters":[{"name":"commandId","in":"path","description":"commandId","required":true,"type":"integer","format":"int64"},{"name":"wrapperName","in":"path","description":"wrapperName","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CommandConfiguration"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["command-configuration-rest-api"],"summary":"Configure (site)","operationId":"createConfigurationUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"commandConfiguration","description":"commandConfiguration","required":true,"schema":{"$ref":"#/definitions/CommandConfiguration"}},{"name":"commandId","in":"path","description":"commandId","required":true,"type":"integer","format":"int64"},{"name":"enable","in":"query","description":"enable","required":false,"type":"boolean","default":true},{"name":"reason","in":"query","description":"reason","required":false,"type":"string"},{"name":"wrapperName","in":"path","description":"wrapperName","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["command-configuration-rest-api"],"summary":"Delete (site)","operationId":"deleteConfigurationUsingDELETE","produces":["*/*"],"parameters":[{"name":"commandId","in":"path","description":"commandId","required":true,"type":"integer","format":"int64"},{"name":"wrapperName","in":"path","description":"wrapperName","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/commands/{commandId}/wrappers/{wrapperName}/disabled":{"put":{"tags":["command-configuration-rest-api"],"summary":"Disable (site)","operationId":"disableConfigurationUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"commandId","in":"path","description":"commandId","required":true,"type":"integer","format":"int64"},{"name":"reason","in":"query","description":"reason","required":false,"type":"string"},{"name":"wrapperName","in":"path","description":"wrapperName","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commands/{commandId}/wrappers/{wrapperName}/enabled":{"get":{"tags":["command-configuration-rest-api"],"summary":"Is Enabled (site)","operationId":"isConfigurationEnabledUsingGET","produces":["*/*"],"parameters":[{"name":"commandId","in":"path","description":"commandId","required":true,"type":"integer","format":"int64"},{"name":"wrapperName","in":"path","description":"wrapperName","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["command-configuration-rest-api"],"summary":"Enable (site)","operationId":"enableConfigurationUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"commandId","in":"path","description":"commandId","required":true,"type":"integer","format":"int64"},{"name":"reason","in":"query","description":"reason","required":false,"type":"string"},{"name":"wrapperName","in":"path","description":"wrapperName","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commands/{commandId}/wrappers/{wrapperName}/launch":{"get":{"tags":["launch-rest-api"],"summary":"Get Launch UI for wrapper","description":"DOES NOT WORK PROPERLY IN SWAGGER UI","operationId":"getLaunchUiUsingGET","produces":["*/*"],"parameters":[{"name":"allRequestParams","in":"query","description":"allRequestParams","required":true,"items":{"type":"object","additionalProperties":{"type":"string"}}},{"name":"commandId","in":"path","description":"commandId","required":true,"type":"integer","format":"int64"},{"name":"wrapperName","in":"path","description":"wrapperName","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LaunchUi"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["launch-rest-api"],"summary":"Resolve a command from the variable values in the query params, and launch it","description":"Replaced by /commands/{commandId}/wrappers/{wrapperName}/root/{rootElement}/launch including xsiType as rootElement parameter.","operationId":"launchCommandWQueryParams2UsingPOST","consumes":["application/json;charset=UTF-8"],"produces":["*/*"],"parameters":[{"name":"allRequestParams","in":"query","description":"allRequestParams","required":true,"items":{"type":"object","additionalProperties":{"type":"string"}}},{"name":"commandId","in":"path","description":"commandId","required":true,"type":"integer","format":"int64"},{"name":"wrapperName","in":"path","description":"wrapperName","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LaunchReport"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/commands/{commandId}/wrappers/{wrapperName}/root/{rootElement}/bulklaunch":{"post":{"tags":["launch-rest-api"],"summary":"Resolve a command from the variable values in the request body, and launch it","operationId":"bulkLaunchUsingPOST","consumes":["application/json;charset=UTF-8"],"produces":["*/*"],"parameters":[{"in":"body","name":"allRequestParams","description":"allRequestParams","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}},{"name":"commandId","in":"path","description":"commandId","required":true,"type":"integer","format":"int64"},{"name":"rootElement","in":"path","description":"rootElement","required":true,"type":"string"},{"name":"wrapperName","in":"path","description":"wrapperName","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BulkLaunchReport"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commands/{commandId}/wrappers/{wrapperName}/root/{rootElement}/launch":{"post":{"tags":["launch-rest-api"],"summary":"Resolve a command from the variable values in the request body, and launch it","operationId":"launchCommandWJsonBodyUsingPOST","consumes":["application/json;charset=UTF-8"],"produces":["*/*"],"parameters":[{"in":"body","name":"allRequestParams","description":"allRequestParams","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}},{"name":"commandId","in":"path","description":"commandId","required":true,"type":"integer","format":"int64"},{"name":"rootElement","in":"path","description":"rootElement","required":true,"type":"string"},{"name":"wrapperName","in":"path","description":"wrapperName","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LaunchReport"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/commands/{id}":{"get":{"tags":["command-rest-api"],"summary":"Get a Command by ID","operationId":"retrieveCommandUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Command"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["command-rest-api"],"summary":"Update a Command","operationId":"updateCommandUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"command","description":"command","required":true,"schema":{"$ref":"#/definitions/Command"}},{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["command-rest-api"],"summary":"Delete a Command","operationId":"deleteUsingDELETE_1","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/commands/{id}/wrappers":{"post":{"tags":["command-rest-api"],"summary":"Create a Command Wrapper","operationId":"createWrapperUsingPOST","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"commandWrapperCreation","description":"commandWrapperCreation","required":true,"schema":{"$ref":"#/definitions/CommandWrapperCreation"}},{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"integer","format":"int64"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/compute/constraints":{"get":{"tags":["constraint-configs-api"],"summary":"Get all constraint configs.","operationId":"getAllUsingGET_1","produces":["application/json"],"responses":{"200":{"description":"Placement constraint configs successfully retrieved.","schema":{"type":"array","items":{"$ref":"#/definitions/ConstraintConfig"}}},"401":{"description":"Must be authenticated to access the XNAT REST API."},"403":{"description":"Not authorized."},"404":{"description":"Not Found"},"500":{"description":"Unexpected error"}},"deprecated":false},"post":{"tags":["constraint-configs-api"],"summary":"Create a constraint config.","operationId":"createUsingPOST_2","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"constraintConfig","description":"constraintConfig","required":true,"schema":{"$ref":"#/definitions/ConstraintConfig"}}],"responses":{"201":{"description":"Placement constraint config successfully created.","schema":{"$ref":"#/definitions/ConstraintConfig"}},"401":{"description":"Must be authenticated to access the XNAT REST API."},"403":{"description":"Not authorized."},"404":{"description":"Not Found"},"500":{"description":"Unexpected error"}},"deprecated":false}},"/compute/constraints/{id}":{"get":{"tags":["constraint-configs-api"],"summary":"Get a constraint config.","operationId":"getUsingGET_1","produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Placement constraint config successfully retrieved.","schema":{"$ref":"#/definitions/ConstraintConfig"}},"401":{"description":"Must be authenticated to access the XNAT REST API."},"403":{"description":"Not authorized."},"404":{"description":"Placement constraint config not found."},"500":{"description":"Unexpected error"}},"deprecated":false},"put":{"tags":["constraint-configs-api"],"summary":"Update a constraint config.","operationId":"updateUsingPUT_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"constraintConfig","description":"constraintConfig","required":true,"schema":{"$ref":"#/definitions/ConstraintConfig"}},{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Placement constraint config successfully updated.","schema":{"$ref":"#/definitions/ConstraintConfig"}},"201":{"description":"Created"},"401":{"description":"Must be authenticated to access the XNAT REST API."},"403":{"description":"Not authorized."},"404":{"description":"Placement constraint config not found."},"500":{"description":"Unexpected error"}},"deprecated":false},"delete":{"tags":["constraint-configs-api"],"summary":"Delete a constraint config.","operationId":"deleteUsingDELETE_3","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"204":{"description":"Placement constraint config successfully deleted."},"401":{"description":"Must be authenticated to access the XNAT REST API."},"403":{"description":"Not authorized."},"404":{"description":"Placement constraint config not found."},"500":{"description":"Unexpected error"}},"deprecated":false}},"/compute/environments":{"get":{"tags":["compute-environment-configs-api"],"summary":"Get all compute environment configs or all compute environment configs for a given type.","operationId":"getAllUsingGET","produces":["application/json"],"parameters":[{"name":"type","in":"query","description":"type","required":false,"type":"string","enum":["JUPYTERHUB","CONTAINER_SERVICE","GENERAL"]}],"responses":{"200":{"description":"Compute environment configs successfully retrieved.","schema":{"$ref":"#/definitions/ComputeEnvironmentConfig"}},"401":{"description":"Must be authenticated to access the XNAT REST API."},"403":{"description":"Not authorized."},"404":{"description":"Not Found"},"500":{"description":"Unexpected error"}},"deprecated":false},"post":{"tags":["compute-environment-configs-api"],"summary":"Create a compute environment config.","operationId":"createUsingPOST_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"computeEnvironmentConfig","description":"computeEnvironmentConfig","required":true,"schema":{"$ref":"#/definitions/ComputeEnvironmentConfig"}}],"responses":{"201":{"description":"Compute environment config successfully created.","schema":{"$ref":"#/definitions/ComputeEnvironmentConfig"}},"401":{"description":"Must be authenticated to access the XNAT REST API."},"403":{"description":"Not authorized."},"404":{"description":"Not Found"},"500":{"description":"Unexpected error"}},"deprecated":false}},"/compute/environments/available":{"get":{"tags":["compute-environment-configs-api"],"summary":"Get all available compute environment configs for the provided execution scope.","operationId":"getAvailableUsingGET","produces":["application/json"],"parameters":[{"name":"params","in":"query","description":"params","required":true,"items":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"Compute environment configs successfully retrieved.","schema":{"type":"array","items":{"$ref":"#/definitions/ComputeEnvironmentConfig"}}},"401":{"description":"Must be authenticated to access the XNAT REST API."},"403":{"description":"Not authorized."},"404":{"description":"Not Found"},"500":{"description":"Unexpected error"}},"deprecated":false}},"/compute/environments/{id}":{"get":{"tags":["compute-environment-configs-api"],"summary":"Get a compute environment config.","operationId":"getUsingGET","produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Compute environment config successfully retrieved.","schema":{"$ref":"#/definitions/ComputeEnvironmentConfig"}},"401":{"description":"Must be authenticated to access the XNAT REST API."},"403":{"description":"Not authorized."},"404":{"description":"Compute environment config not found."},"500":{"description":"Unexpected error"}},"deprecated":false},"put":{"tags":["compute-environment-configs-api"],"summary":"Update a compute environment config.","operationId":"updateUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"computeEnvironmentConfig","description":"computeEnvironmentConfig","required":true,"schema":{"$ref":"#/definitions/ComputeEnvironmentConfig"}},{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Compute environment config successfully updated.","schema":{"$ref":"#/definitions/ComputeEnvironmentConfig"}},"201":{"description":"Created"},"401":{"description":"Must be authenticated to access the XNAT REST API."},"403":{"description":"Not authorized."},"404":{"description":"Compute environment config not found."},"500":{"description":"Unexpected error"}},"deprecated":false},"delete":{"tags":["compute-environment-configs-api"],"summary":"Delete a compute environment config.","operationId":"deleteUsingDELETE_2","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"204":{"description":"Compute environment config successfully deleted."},"401":{"description":"Must be authenticated to access the XNAT REST API."},"403":{"description":"Not authorized."},"404":{"description":"Compute environment config not found."},"500":{"description":"Unexpected error"}},"deprecated":false}},"/compute/hardware":{"get":{"tags":["hardware-configs-api"],"summary":"Get all hardware configs.","operationId":"getAllUsingGET_5","produces":["application/json"],"responses":{"200":{"description":"Hardware configs successfully retrieved.","schema":{"$ref":"#/definitions/HardwareConfig"}},"401":{"description":"Must be authenticated to access the XNAT REST API."},"403":{"description":"Not authorized."},"404":{"description":"Not Found"},"500":{"description":"Unexpected error"}},"deprecated":false},"post":{"tags":["hardware-configs-api"],"summary":"Create a hardware config.","operationId":"createUsingPOST_3","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"hardwareConfig","description":"hardwareConfig","required":true,"schema":{"$ref":"#/definitions/HardwareConfig"}}],"responses":{"201":{"description":"Hardware config successfully created.","schema":{"$ref":"#/definitions/HardwareConfig"}},"401":{"description":"Must be authenticated to access the XNAT REST API."},"403":{"description":"Not authorized."},"404":{"description":"Not Found"},"500":{"description":"Unexpected error"}},"deprecated":false}},"/compute/hardware/{id}":{"get":{"tags":["hardware-configs-api"],"summary":"Get a hardware config.","operationId":"getUsingGET_3","produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Hardware config successfully retrieved.","schema":{"$ref":"#/definitions/HardwareConfig"}},"401":{"description":"Must be authenticated to access the XNAT REST API."},"403":{"description":"Not authorized."},"404":{"description":"Hardware config not found."},"500":{"description":"Unexpected error"}},"deprecated":false},"put":{"tags":["hardware-configs-api"],"summary":"Update a hardware config.","operationId":"updateUsingPUT_3","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"hardwareConfig","description":"hardwareConfig","required":true,"schema":{"$ref":"#/definitions/HardwareConfig"}},{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Hardware config successfully updated.","schema":{"$ref":"#/definitions/HardwareConfig"}},"201":{"description":"Created"},"401":{"description":"Must be authenticated to access the XNAT REST API."},"403":{"description":"Not authorized."},"404":{"description":"Hardware config not found."},"500":{"description":"Unexpected error"}},"deprecated":false},"delete":{"tags":["hardware-configs-api"],"summary":"Delete a hardware config.","operationId":"deleteUsingDELETE_9","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"204":{"description":"Hardware config successfully deleted."},"401":{"description":"Must be authenticated to access the XNAT REST API."},"403":{"description":"Not authorized."},"404":{"description":"Hardware config not found."},"500":{"description":"Unexpected error"}},"deprecated":false}},"/container/name/{name}":{"get":{"tags":["container-rest-api"],"summary":"Get Containers by database name","operationId":"getByNameUsingGET","produces":["*/*"],"parameters":[{"name":"name","in":"path","description":"name","required":true,"type":"string"},{"name":"nonfinalized","in":"query","description":"nonfinalized","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Container"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/containers":{"get":{"tags":["container-rest-api"],"summary":"Get all Containers","operationId":"getAllUsingGET_2","produces":["*/*"],"parameters":[{"name":"nonfinalized","in":"query","description":"nonfinalized","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Container"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["container-rest-api"],"summary":"Get paginated containers per request","operationId":"getPaginatedUsingPOST","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"containerPaginatedRequest","description":"containerPaginatedRequest","required":true,"schema":{"$ref":"#/definitions/ContainerPaginatedRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Container"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/containers/version":{"get":{"tags":["container-rest-api"],"summary":"Check XNAT Version compatibility.","operationId":"versionCheckUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PluginVersionCheck"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/containers/{containerId}/logSince/{file}":{"get":{"tags":["container-rest-api"],"summary":"Get Container logs","description":"Return either stdout or stderr logs","operationId":"pollLogUsingGET","produces":["*/*"],"parameters":[{"name":"containerId","in":"path","description":"containerId","required":true,"type":"string"},{"name":"file","in":"path","description":"file","required":false,"type":"string","enum":["stdout","stderr"]},{"name":"since","in":"query","description":"since","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ContainerLogPollResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/containers/{containerId}/logs":{"get":{"tags":["container-rest-api"],"summary":"Get Container logs","description":"Return stdout and stderr logs as a zip","operationId":"getLogsUsingGET","produces":["*/*"],"parameters":[{"name":"containerId","in":"path","description":"containerId","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/containers/{containerId}/logs/{file}":{"get":{"tags":["container-rest-api"],"summary":"Get Container logs","description":"Return either stdout or stderr logs","operationId":"getLogUsingGET","produces":["*/*"],"parameters":[{"name":"containerId","in":"path","description":"containerId","required":true,"type":"string"},{"name":"file","in":"path","description":"file","required":false,"type":"string","enum":["stdout","stderr"]}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/containers/{id}":{"get":{"tags":["container-rest-api"],"summary":"Get Containers by database ID","operationId":"getUsingGET_2","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Container"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["container-rest-api"],"summary":"Get Container by container server ID","operationId":"deleteUsingDELETE_4","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/containers/{id}/finalize":{"post":{"tags":["container-rest-api"],"summary":"Finalize Container","operationId":"finalizeUsingPOST","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/containers/{id}/kill":{"post":{"tags":["container-rest-api"],"summary":"Kill Container","operationId":"killUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/custom-fields/experiments/{experiment}/assessors/{assessor}/fields":{"get":{"tags":["custom-fields-api"],"summary":"Get custom fields for an item.","operationId":"getFieldsUsingGET","produces":["application/json"],"parameters":[{"name":"assessor","in":"path","description":"The assessor","required":false,"type":"string"},{"name":"experiment","in":"path","description":"The experiment","required":false,"type":"string"},{"name":"fieldNames","in":"query","description":"fieldNames","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"project","in":"path","description":"The project","required":false,"type":"string"},{"name":"scan","in":"path","description":"The scan","required":false,"type":"string"},{"name":"subject","in":"path","description":"The subject","required":false,"type":"string"}],"responses":{"200":{"description":"A list of custom fields.","schema":{"$ref":"#/definitions/JsonNode"}},"400":{"description":"Bad request."},"401":{"description":"Unauthorized"},"403":{"description":"Cannot access data item."},"404":{"description":"Item not found."},"500":{"description":"An unexpected error occurred."}},"deprecated":false},"put":{"tags":["custom-fields-api"],"summary":"Set the value for one or more custom fields.","operationId":"updateFieldsUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"assessor","in":"path","description":"The assessor","required":false,"type":"string"},{"name":"experiment","in":"path","description":"The experiment","required":false,"type":"string"},{"in":"body","name":"newFields","description":"newFields","required":true,"schema":{"$ref":"#/definitions/JsonNode"}},{"name":"project","in":"path","description":"The project","required":false,"type":"string"},{"name":"scan","in":"path","description":"The scan","required":false,"type":"string"},{"name":"subject","in":"path","description":"The subject","required":false,"type":"string"}],"responses":{"200":{"description":"The updated list of fields.","schema":{"$ref":"#/definitions/JsonNode"}},"201":{"description":"Created"},"400":{"description":"Bad request."},"401":{"description":"Unauthorized"},"403":{"description":"Not allowed."},"404":{"description":"Item not found."},"500":{"description":"An unexpected error occurred."}},"deprecated":false}},"/custom-fields/experiments/{experiment}/assessors/{assessor}/fields/{fieldName}":{"get":{"tags":["custom-fields-api"],"summary":"Get the text value of a custom field.","operationId":"getFieldValueUsingGET","produces":["text/plain"],"parameters":[{"name":"assessor","in":"path","description":"The assessor","required":false,"type":"string"},{"name":"experiment","in":"path","description":"The experiment","required":false,"type":"string"},{"name":"fieldName","in":"path","description":"fieldName","required":true,"type":"string"},{"name":"project","in":"path","description":"The project","required":false,"type":"string"},{"name":"scan","in":"path","description":"The scan","required":false,"type":"string"},{"name":"subject","in":"path","description":"The subject","required":false,"type":"string"}],"responses":{"200":{"description":"A custom field value.","schema":{"type":"string"}},"400":{"description":"Bad request."},"401":{"description":"Unauthorized"},"403":{"description":"Cannot access data item."},"404":{"description":"Item not found."},"500":{"description":"An unexpected error occurred."}},"deprecated":false},"delete":{"tags":["custom-fields-api"],"summary":"Delete a custom field.","operationId":"deleteFieldUsingDELETE","produces":["application/json"],"parameters":[{"name":"assessor","in":"path","description":"The assessor","required":false,"type":"string"},{"name":"experiment","in":"path","description":"The experiment","required":false,"type":"string"},{"name":"fieldName","in":"path","description":"fieldName","required":true,"type":"string"},{"name":"project","in":"path","description":"The project","required":false,"type":"string"},{"name":"scan","in":"path","description":"The scan","required":false,"type":"string"},{"name":"subject","in":"path","description":"The subject","required":false,"type":"string"}],"responses":{"200":{"description":"Field deleted.","schema":{"$ref":"#/definitions/JsonNode"}},"204":{"description":"No Content"},"400":{"description":"Bad request."},"401":{"description":"Unauthorized"},"403":{"description":"Not allowed."},"404":{"description":"Item not found."},"500":{"
[...]
